.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-container {
  padding-top: 40px;
}

.App-deck {
  width: 48%;
  text-align: right;
  float: left;
}

.App-controller {
  width: 48%;
  text-align: left;
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
